<!doctype html>
<html>
<head>
	<title>Page not found</title>
	<style type="text/css">
body {background:#039;color:#ddf;margin:2em}
h1 {font:normal normal bold 24px/1em Georgia;text-align:center}
p {font:normal normal normal 16px/1.3em Georgia;text-align:left}
a:link, a:visited {color:#fff;text-decoration:none}
a:hover, a:active {background-color:#003}
	</style>
</head>
<body>
	<h1>Error 404: Page not found</h1>
	<p>The page you requested was not found. <a href="/exercises/">Return</a> to a working page.</p>
</body>
</html>
