<!doctype html>
<html>
<head>
	<title>Internal Server Error</title>
	<style type="text/css">
body {background:#930;color:#fdd;margin:2em}
h1 {font:normal normal bold 24px/1em Georgia;text-align:center}
p {font:normal normal normal 16px/1.3em Georgia;text-align:left}
a:link, a:visited {color:#fff;text-decoration:none}
a:hover, a:active {background-color:#300}
	</style>
</head>
<body>
	<h1>Error 500: Page not found</h1>
	<p>Something went awry on the server. Try your request again later, or <a href="/exercises/">return</a> to a working page.</p>
</body>
</html>
